.stackline-demo {
  display: flex;
  flex-direction: row;
}

.product-image{
  width: 300px;
}

.sidebar-title{
  text-align: center;
}

.sidebar-subtitle{
  color: grey;
  font-size: 18px;
  margin: 15px;
  text-align: center;
  font-weight: normal;
}

.tags{
  display: flex;
  flex-flow: row wrap;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.sidebar-tag{
  border: 1px solid #ddd;
  border-radius: 5px;
  font-weight: normal;
  margin: 5px;
}

#sales-table {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#sales-table td, #sales-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#sales-table tr:nth-child(even){background-color: #f2f2f2;}

#sales-table tr:hover {background-color: #ddd;}

#sales-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  color: black;
}