.stackline-demo {
  display: flex;
  flex-direction: row;
}

.product-image{
  width: 300px;
}

#sales-table {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#sales-table td, #sales-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#sales-table tr:nth-child(even){background-color: #f2f2f2;}

#sales-table tr:hover {background-color: #ddd;}

#sales-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  color: black;
}